################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Core
/Core/Core.csproj.user
/Core.Service/Core.Service.csproj.user
/packages
